<div class="container">
  <span>
    <form action="/sign-up" class="signup-form" method="POST">
      <legend>Register</legend>

      <!--Firstname-->
      <div class="form-group">
        <label for="first"></label>
        <input class="form-control" type="text" name="first" placeholder="First name">
      </div>

      <!--Username-->
      <div class="form-group">
        <label for="last"></label>
        <input class="form-control" type="text" name="last" placeholder="Last name">
      </div>


      <!--Username-->
      <div class="form-group">
        <label for="username"></label>
        <input class="form-control" type="text" name="username" placeholder="Username">
      </div>

      <!--Password-->
      <div class="form-group">
        <label for="password"></label>
        <input class="form-control" type="password" name="password" placeholder="Password">
      </div>

      <!--Button-->

      <button class="btn btn-default signup-btn" type="submit">Sign Up</button>
      <a href="/" class="btn btn-default" role="button">Cancel</a>

    </form>
    </span>
</div>